@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

header {
  height: 80px;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  padding-left: 96px;
  padding-right: 109px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dedede;
  background: rgba(49.94, 49.94, 49.94, 0.7);
  backdrop-filter: blur(20px);
}

.logo {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 20px;
}

header div a {
  margin-left: 60px;
  text-decoration: none;
  color: #dedede;
}

main {
  height: 100vh;
  width: 100%;
  background-color: #292929;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
