@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: #dedede;
}

body {
  background-color: #292929;
  width: 100%;
  height: 100hv;
}

button {
  cursor: pointer;
}
header {
  max-width: 100%;
  height: 80px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 96px;
  padding-right: 109px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dedede;
  background: rgba(49.94, 49.94, 49.94, 0.7);
  backdrop-filter: blur(20px);
}

.logo {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

header div a {
  margin-left: 60px;
  text-decoration: none;
  color: #dedede;
}

main {
  padding-top: 209px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info__photo {
  width: 400px;
  height: 400px;
}

.info__photo img {
  height: auto;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 50%;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  word-wrap: break-word;
}

.info__text {
  width: 540px;
}

.info__mail {
  font-size: 18px;
  font-weight: 600;
  gap: 16px;
  margin-top: 104px;
  display: flex;
  align-items: center;
  padding: 16px 48px;
  background-color: #9d9d9d;
  border: 2px solid transparent;
  border-radius: 4px;
}

.info__arrow {
  margin-top: 161px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 8px 8px;
  gap: 32px;
}

.works {
  display: grid;
  grid-template-columns: 612px 612px;
  grid-template-rows: repeat(2, 888px);
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 140px;
}

.works img {
  height: auto;
  width: 100%;
}

.works img:nth-child(2n) {
  margin-top: 140px;
}

h2 {
  margin-top: 240px;
}

.explorations__container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 408px);
  gap: 24px;
  margin-top: 65px;
}
.explorations__container img {
  height: auto;
  width: 100%;
}

.personal__container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 560px;
  gap: 24px;
  margin-top: 65px;
}

.personal__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  margin-bottom: 48px;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  word-wrap: break-word;
  color: #959595;
}

.info__text p {
  margin-bottom: 88px;
}

.contact__button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  gap: 16px;
  display: flex;
  align-items: center;
  padding: 16px 48px;
  background-color: #9d9d9d;
  border: 2px solid transparent;
  border-radius: 4px;
}

footer {
  margin-top: 124px;
  height: 80px;
  display: flex;
  align-items: center;
  border-top: 1px solid #696969;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 48px;
  padding-bottom: 36px;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

footer div {
  display: flex;
  gap: 46px;
}

footer a {
  text-decoration: none;
}
